<!-- app/views/layouts/_footer.html.erb -->
<footer class="bg-dark text-white text-center py-4">
  <div class="container">
    <p class="mb-1">&copy; <%= Time.current.year %> TravelGuardian. All rights reserved.</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a class="text-white" href="#">Privacy Policy</a></li>
      <li class="list-inline-item"><a class="text-white" href="#">Terms of Service</a></li>
      <li class="list-inline-item"><a class="text-white" href="#">Contact Us</a></li>
    </ul>
    <div class="social-media mt-3">
      <a href="https://www.facebook.com" target="_blank" class="text-white me-3">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.twitter.com" target="_blank" class="text-white me-3">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.instagram.com" target="_blank" class="text-white">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </div>
</footer>
