<div class="footer">
<h5 class="footer-header">Follow the community  <i class="fa-solid fa-plane" style="color: #0db1e7;"></i></h5>
  <div class="footer-links">
    <a href="https://github.com/mattynewts9"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/mathew-newton1/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    ©️ 2024 TravelGuardian™ All rights reserved
  </div>
</div>
