<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Tips for Visitors to the UK</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="stylesheets/emergency-contacts.css">
</head>

<body>

<div class="banner-travel-safe" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('travel.jpg') %>);">
  <div class="container">
    <h1 class="travel-banner-text">Everything you need to know for having a safe trip...</h1>
</div>
</div>



<div class="container">
  <h2 class="health-and-security-header">Health and security <i class="fa-solid fa-notes-medical" style="color: #545454;"></i></h2>

  <div class="card-section-info">
    <%# emergency contacts section %>
    <div class="card-travel-info">
        <h3>Emergency numbers</h3>
        <P>Dial 999 to reach the police, fire and ambulance departments in an emergency. Along coastal areas, this number will also put you in touch with Britain’s coastguard rescue service, the RNLI. Use 101 when you need to contact the police for matters that do not require an immediate response, for example your car has been stolen or you’d like to give information about a crime you have witnessed. If you would like advice on minor injuries and illnesses that aren’t life threatening, call 111, the national non-emergency medical number - there is usually a bit of a wait for a call back.</p>

        <h3>Police</h3>
        <P>Police men and women (affectionately called bobbies) were once a common sight patrolling the streets, but less so now. They can deal with anti-social behaviour, provide directions, and information.
        You can find often police stations in cities, towns and some villages.</p>

        <h3>Pharmacies</h3>
        <P>Pharmacists in Britain are highly trained professionals who can offer advice on minor ailments and well-being as well as dispense medication where necessary.
        You can find pharmacies all around Britain and Northern Ireland, including well-known brands including brands like Boots and Lloyds Pharmacy. You can also buy over-the-counter drugs as well as other healthcare and beauty products.</p>
    </div>
  </div>

  <div class="card-section-info">
    <%# what to bring new section %>
    <h2 class="health-and-security-header">What to bring <i class="fa-solid fa-suitcase" style="color: #545454;"></i></h2>
    <div class="card-travel-info-middle">
        <h3>Plug sockets and adapters</h3>
        <P>The voltage in Britain is 220/240 AC, 50Hz and electrical plugs (plug type G) have three rectangular pins and take fuses of 3, 5, and 13 amps. For any electrical equipment brought into Britain, you’ll probably need an adaptor.  Most hotels will have two-pronged European-style sockets for shavers only.</p>

        <h3>Translation apps</h3>
        <P>If you’re not fluent in English, it might be worth making sure you have a translation app on your phone. These handy apps can translate words and phrases using text, voice commands and can even translate text in photographs. Newer Apple devices come with a Translate app as standard, while Android users can download Google Translate.</p>

        <h3>What to wear</h3>
        <P>The weather in Britain can be quite temperamental, so no matter what time of year you visit, it’s a good idea to bring something warm. It’s also worth packing a waterproof jacket – it can rain a lot in some locations. If you’re planning to do a lot of walking or hiking, a good, sturdy pair of walking shoes is an essential piece of kit. Don't forget that umbrella!</p>
    </div>
  </div>


  <div class="card-section-info">
    <%# money section %>
    <h2 class="health-and-security-header">Money <i class="fa-solid fa-piggy-bank" style="color: #404040;"></i></h2>
    <div class="card-travel-info-money">
        <h3>Currency - Sterling: Notes, pounds and pence </h3>
        <P>Britain’s national currency is pound sterling (symbol: £), which is sub-divided into 100 pence (symbol: p). Notes come in denominations of £50, £20, £10 and £5, and coins in £2, £1, 50p, 20p, 10p, 5p, 2p and 1p.</p>

        <h3>Where to get your money</h3>
        <P>You can get British currency in banks, travel agents, post offices and bureaux de change (found on high streets, airports and at major railway stations).
        Rates of exchange vary at different bureaux de change so it’s always worth shopping around. Travelex have branches throughout Britain, while Marks & Spencer (a popular department stores in Britain) has bureaux de change in over 100 of its stores. Many Post Offices also offer bureaux de change services.
        Scotland and Northern Ireland issue their own pound sterling notes – they look different but have the same value as English notes. You can use English and Scottish money (apart from the Scottish £1 note) anywhere in the UK, but Northern Irish cash can only be used in Northern Ireland.</p>

        <h3>Cash points</h3>
        <P>You can withdraw cash from ATM (automatic teller machines) commonly called ‘cash points’ from all over Britain and Northern Ireland. Almost every bank has a cash machine while many more can be found in supermarkets, petrol stations, train stations and high streets. Some charge a small fee for cash withdrawals. You should note that foreign cards will incur a currency exchange fee to withdraw money. Check with your bank for details before you travel.
        As a security measure, let your bank know you are travelling overseas.
        If you run out of funds, it’s possible to have money wired from your country to the nearest British bank. Branches of Travelex and American Express will also do this for you. North American visitors can get cash dispatched through Western Union to a bank or Post Office - you’ll need your passport as proof of identity.</p>
    </div>
  </div>
</div>





  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
