.alert {
  position: fixed;
  bottom: 65%;
  right: 16px;
  z-index: 1000;
  background-color: rgba(43, 80, 88, 0.9);
  border-radius: 10px;
  color: white;
  font-family: kanit;
}

.alert-dismissable .btn-close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  color: white;
  border-radius: 16px;
  background-color: antiquewhite;
  padding: 1.25rem 1rem;
}
