.search-banner {
  height: 300px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.form-container form {
  position: relative;
}
.form-search-container {
  text-align: left;
  background-color: rgba(255, 255, 255, 58%);
  padding: 10px;
  border-radius: 40px;
  width: 550px;
  border: 3px solid rgba(0, 0, 0, 0.672);
  margin-left: 10px;
}

.tag-line {
  color: white;
  margin-bottom: 30px;
  margin-top: 80px;
  margin-left: 25px;
  font-size: 32px;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.tag-2 {
  color: white;
  right: 50px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-style: italic;
  font-size: 24px;
}

.search-icon {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 9px;
  right: -35px;
}


.banner-travel-safe {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

.travel-banner-text {
  color: white;


  font-family: sans-serif;
  font-weight: bold;
  margin-left: -80px;
  padding: 80px;


}
