.card-category {

  background: rgb(43, 80, 88);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 400px;
  justify-content: center;
  margin: 20px;
  padding-top: 10px;

  border-radius: 5px;
  position: relative;

}
.index-card-container {
  max-width: 1182px;
  margin: 0 auto;
}

.card-header {
  text-align: center;
  color: rgb(29, 45, 53);
  margin-top: 60px;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.card-category h3 {
  text-align: center;
  margin-top: 70px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  color: white;

}


.card-category p {
  text-align: center;
  margin-top: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.card-category-icon  {
  position: absolute;
  top: -50px;
  display: flex;
  align-items: center;
  margin-left: 15px;
  left: 108px;


}

.card-category img {
  height: 90px;
  justify-content: center;

}

.card-header-reports {
  text-align: center;
  color: rgb(38, 60, 71);
  margin-top: 80px;

  font-family: Arial, Helvetica, sans-serif;

}

.card-header-sub {
  text-align: center;
}
