.hotel-containers {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  margin-top: 200px;

  .hotel-content {
    display: flex;
    text-align: left;
    background-color: rgba(rgb(194, 194, 201), 0.5);
    color: green;
    margin-bottom: 80px;border-radius: 10px;
  }

  img {
    width: 500px;
    height: 300px;
    border-radius: 10px;

  }

  .hotel-info {
    margin-top: 10px;
    margin-left: 10px;
    display: grid;
  }
}
