.container {
  margin-top: 200px;
  margin-bottom: 200px;
}

.card-product-container {
  font-family: "kanit";
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-top: 100px;
  margin-bottom: 200px;
}

.card-product {
  // width: 500px;
  overflow: hidden;
  // height: 220px;
  background: rgb(248, 248, 248);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  // justify-content: space-between;
  border-radius: 5px;
  display: flex;
  border: 3px solid #2b5058;
}

.card-product img {
  max-height: 250px;
  width: 60%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 14px;
  font-weight: bold;

}

.card-product p {
  font-size: 13px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 9px;
  margin-top: 8px;
  color: grey;
}

.card-product-info {
  padding: 7px 10px;
  margin-left: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h3 {
    font-size: 21px;
    font-weight: light;
    font-family: sans-serif;
  }

  h6 {
    color:red;
    font-weight: 700;

    span {
      color: #2b5058;
    }
  }
}

.crime-btn {
  font-family: "kanit";
  text-decoration: none;
  color: white;
  text-align: center;
  width: 100%;
  margin-top: 4px;
  padding: 8px 19px;
  border-radius: 5px;
  font-size: 1rem;
  background-color:#2b5058;
}
