.map-container {
  display: flex;
  padding-left: 100px;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
  justify-content: space-around;
}


.search-text {
  margin-top: 50px;
  margin-bottom: 60px;
  margin-left: 40px;

  h2 {
    margin-top: 40px;
  }


}
