.map-container {
  display: flex;
  margin-right: 10px;
  margin-top: 10px;
  border-radius: 10px;
  justify-content: space-around;
}


.search-text {
  margin-top: 50px;
  margin-bottom: 60px;
  margin-left: 40px;

  h2 {
    margin-top: 40px;
  }


}

.table-container {
  width: 47%;
  height: 285px;
  font-family: 'Kanit';
  text-align: center;

    thead, tbody, tfoot, tr, td, th
    {
    width: 1px;
    border-color: inherit;
    border-style: solid;
    border-width: 1px;
    }

    td {
      width:15px;
      text-align: center;
      height: 10px;
    }
}

.table-container {
  width: 47%;
  height: 285px;
  font-family: 'Kanit';
  text-align: center;
}
