// hotel marker styling
.info {
  justify-content: center;
  align-items: center;
  font-size: 20px;
  height: 217px;


  .pop-up-image-container img {
    object-fit: cover;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    justify-content: left;

  }
}

.hotel-content {
  margin-top: 10px;
  text-align: left;

  h5 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.20rem;
    color: black;
  }

  p {
    font-size: 0.7rem;
    color: grey;
    font-family: "kanit";
    margin-bottom: 20px;
  }

  a {
    font-family: "kanit";
  }
}

.hotel-content a {
  text-decoration: none;
  border: 2px #2b5058 solid;
  background: none;
  color: #2b5058;

}

.link-button {
  text-align: center;

  a {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    padding: 9px 60px;

  }
}

// crime marker styling

.crime-popup-content {
  text-align: center;
  font-family: "kanit";
  font-weight: bold;
  width: 190px;
  height: 140px;
  padding: 4px;

  img {
    width: 60%;
    margin-bottom: 12px;
  }

  p {
    color: rgba(188, 30, 30, 0.782);
    font-size: medium;
  }
}



.link-button a:hover {
  box-shadow: 1px 1px 1px 1px rgba(29, 29, 29, 0.194);
  text-decoration: #2b5058 underline;
  transition: 0.2s;
  border: 2px solid #2b5058;
  color: #2b5058;
  font-weight: 300;
}

.mapboxgl-popup-content {
  border-radius: 5px;
  border: 3px solid #2b5058;

  p {
    font-size: 'kanit';
  }

  h5 {
    color: black;
    font-family: 'kanit';
  }

}
