.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  margin-left: 10px;
}

.navbar-lewagon .container-site-links {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  margin-right: 10px;
}

.navbar-lewagon a.nav-link-center {
  text-decoration: none;
  color: #11302d;
  letter-spacing: 1px;
  margin: 0 20px;
  font-family: Arial, sans-serif;
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-lewagon a.nav-link-center::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #11302d;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

.navbar-lewagon a.nav-link-center:hover::after {
  width: 100%;
}

.navbar-lewagon a.nav-link-center:hover {
  color: #00a99d;
}

.navbar-lewagon .logo-text {
  font-family: Helvetica, sans-serif;
  font-size: 30px;
  color: #11302d;
  margin-left: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}

@media (max-width: 800px) {
  .navbar-lewagon {
    flex-direction: column;
    padding: 15px;
  }

  .navbar-lewagon .container-site-links {
    margin-right: 0;
  }

  .navbar-lewagon a.nav-link-center {
    margin: 10px 0;
  }
}
