.reports-content-container {
    background-color: #fdfdfd93;
    margin-bottom: 34px;
    padding: 21px;
    width: 300px;
    color: #000000;
    font-family: kanit;
    border: 3px solid #2b5058;
    border-radius: 10px;
    width: 692px;
    margin: 10px;
    height: 150px;
    text-align: right;
    font-size: 18px;
    display: flex;
    justify-content: space-between;

    img {
      border-radius: 50%;
      border-radius: 60%;
      width: 110px;
      object-fit: cover;
    }
}

.report-info  {
  width: 100%;
  margin-top: 10px;
}


.reports-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.report-title{
  text-align: center;
  margin: 2rem;
}

.add-report-title {
  margin: 1rem;
}

.report-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.green-rating {
  color: green;
}

.red-rating {
  color: red;
}

.hotel-report-details {
    border: 3px solid #2b5058;
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    flex-direction: column;
    font-family: "kanit";
    margin-top: 25px;
    display: flex;
    width: 95%;
}

.report-form {
  width: 100%;
}

.report-form-container{
  margin: 1rem;
}

.hotel-report-image {
  img{
    width: 100%;
  }
}


.hotel-report-name {
  text-align: center;
  font-family: sans-serif;
  padding: 1rem;
  color: #223e44;
  font-weight: bold;
}

.report-container {
  max-width: 800px;
  margin: auto;
}


@media(max-width:694px)
{
  .clear-btn {
    display: none;
  }

  #go-back-btn {
    width: 48%;
  }

  #add-report-btn {
    width: 48%;
  }

  .crime-info {
    margin-top: 10px;
    font-size: 0.9rem;
  }
}

@media(max-width: 690px){

  .hotel-report-details {
    width: 100%;
  }

  }
