.container-crime {
  justify-content: center;
  margin-top: 50px;
  

}

.map-container {
  height: 300px;
}

.search-results {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 123px;
  font-size: 20px;
}

.rating-text {
  margin-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 123px;
  font-size: 30px;
}

.average-crime-number {
  margin-top: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 10px;
  font-size: 30px;
  color: green;
  font-weight: bold;
}
