.form-actions {
  justify-content: space-between;
}



.clear-btn {
  color: white;
  padding: 8px 24px;
  border-radius: 5px;
  background-color: darkgray;
  border: solid 2px grey;
  transition: background 0.3s ease;
  width: 30%;
  height: 45px;
  text-align: center;
}

.submit-btn {
  color: white;
  padding: 8px 24px;
  border: 2px solid #2b5058;
  border-radius: 5px;
  background: #2b5058;
  transition: background 0.3s ease;
  width: 30%;
  height: 45px;
  text-align: center;
}

.back-btn {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #dc3545;
  border: solid 2px red;
  transition: background 0.3s ease;
  text-decoration: none;
  width: 30%;
  height: 45px;
  text-align: center;
}

.back-btn:hover {
  opacity: 0.9;
  box-shadow: 2px 2px 2px black;
}

.submit-btn:hover {
  opacity: 0.9;
  box-shadow: 2px 2px 2px black;
}

.clear-btn:hover {
  opacity: 0.9;
  box-shadow: 2px 2px 2px black;
}
