// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

// Your CSS partials
@import "components/index";
@import "pages/index";
.custom-square-bullets {
  list-style-type: square; /* Change bullet style to square */
  padding-left: 20px; /* Add some padding */
}

.custom-square-bullets li {
  text-align: left; /* Align text to the left for better readability */
}
.custom-square-bullets {
  list-style-type: square; /* Change bullet style to square */
  padding-left: 20px; /* Add some padding */
}

.custom-square-bullets li {
  text-align: left; /* Align text to the left for better readability */
}
